/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-grey: #eeeeee;
  --basic-extra-grey: #666666;
  --basic-filter-range: #D7DCDF;
  --basic-white: #ffffff;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-red: #FB565A;

  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;

  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;

  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;

  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-shadow: rgba(0, 1, 1, 0.1);

  --basic-grey-hover: #DFDFDF;
  --basic-grey-active: #D5D5D5;

}


body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}


/* User navigation */

.main-header {
  background-color: var(--basic-grey);
}

.main-header-logo:hover {
  opacity: 0.5;
}

/*
.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
} */
.site-navigation {
  display: flex;
}

.site-navigation li {
  padding: 20px;
}


.main-navigation,
.cart-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  /* outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
  position: relative;
}

.cart-link {
  display: flex;
  padding-top: 20px;
  padding-left: 30px;
}

.cart-link::before {
  content: ' ';
  background-image: url('../img/cart-icon.svg');
  background-size: cover;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 0px;
  top: 28px;
}

.main-header-menu {
  display: grid;
  grid-template-columns: 250px 1fr min-content;
  margin: 0 auto;
  padding-top: 49px;
  /*   outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.menu-active {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--basic-red);
}


.site-navigation-current a:not([href]) {
  border-bottom: 1px solid var(--basic-red);
  padding-bottom: 12px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link:hover,
.cart-link:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}





/* Slider */

.slider {
  position: relative;
}

.slides-list {
  position: relative;
}

.slide-title {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 400px;
  padding-top: 80px;
  margin: 0;
}

.slide-item {
  background-color: var(--basic-grey);
  background-repeat: no-repeat;
  background-size: 760px 431px;
  min-height: 431px;
  width: auto;
  background-position: right bottom;
  position: relative;
  padding: 0;
  margin: 0;
}


.slide-item {
  display: none;
}

.slide-item-active {
  display: block;
}

.slide-description {
  width: 400px;
  padding-bottom: 40px;
  margin: 0;
  padding-top: 40px;
}


.slide-img1 {
  background-image: url("../img/slide1.jpg");
}

.slide-img2 {
  background-image: url("../img/slide2.jpg");
}

.slide-img3 {
  background-image: url("../img/slide3.jpg");
}

.slider-nav-list {
  position: absolute;
  bottom: 88px;
  left: 47%
}

.slider-nav-list li {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-right: 7px;
}

.slider-nav-item-active {
  position: absolute;
  height: 6px;
  width: 6px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  border: 2px solid #C1C1C1;
}

/* About */
.about {
  border-bottom: 2px solid var(--basic-grey);
  padding-bottom: 80px;
}

.about-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  padding-top: 80px;
  /*   outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}


.about-title {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 17px;
  text-transform: uppercase;
}

.about-item p {
  word-wrap: normal;
}



/* Buttons */

.button {
  display: inline-block;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  padding: 17px 40px 15px 39px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--basic-white);
  background-color: var(--basic-red-hover);
}

.button:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
  color: var(--basic-white);
  background-color: var(--basic-yellow-hover);
}

.button-yellow:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-yellow-active);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
}


.button-green {
  background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus {
  color: var(--basic-white);
  background-color: var(--basic-green-hover);
}

.button-green:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-green-active);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.button-contact {
  padding: 17px 44px 15px 44px;
  margin-top: 30px;
}

.button-send {
  width: 260px;
  margin-top: 44px;
}


.button-slide {
  padding: 17px 54px 15px 54px;
}

.button-filter {
  color: var(--basic-black);
  background-color: var(--basic-grey);
  padding: 17px 88px 15px 88px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--basic-black);
  background-color: var(--basic-grey-hover);
}

.button-filter:active {
  color: var(--basic-black-opacity);
  background-color: var(--basic-grey-active);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

/* Feature & Achievements */
.features {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 140px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  border-bottom: 2px solid var(--basic-grey);
  padding-bottom: 47px;
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */

}

.feature-title-small {
  padding: 24px 0 10px 0;
}



.feature-title {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.feature-title-small,
.achievements p {
  font-weight: 700;
  text-transform: uppercase;
}

.features-list {
  position: relative;
}

.features-list li {
  padding-left: 7px;
}

.features-list li::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  background: var(--basic-red);
  position: relative;
  left: -8px;
  top: -5px;
}

.feature-item {
  padding-bottom: 24px;
}

/* .achievements {
  outline: 5px solid rgb(255, 174, 0);
  outline-offset: -5px;
} */

.achievements p {
  color: var(--basic-black);
  padding-top: 11px;
}

.achievements-list dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  text-align: left;
  color: var(--basic-black);
}



.achievements-list {
  width: 360px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  padding-top: 17px;
  /* outline: 5px solid rgb(255, 174, 0);
  outline-offset: -5px; */
}

.achievements-list dt {
  grid-row: 1/2;

}


.achievements-list dd {
  line-height: 18px;
  margin: 0px;
}


/* Partners */
.partners {
  margin: 0 auto;
  padding: 40px 0px 30px 0px;
  border-bottom: 2px solid var(--basic-grey);

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */

}

.partner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.partner-item img {
  opacity: 0.2;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
}

.partner-item:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: var(--basic-grey);
  right: -8%;
}

.partner-item:hover img,
.partner-item:focus img {
  opacity: 1;
}

.partner-item:active img {
  opacity: 0.2;
}


/* .partners-list:after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 52px;
  background: var(--basic-grey);
} */

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */

}



/* Footer */

.footer-map-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  /*   outline: 5px solid rgba(89, 0, 255, 0.7);
  outline-offset: -5px; */


}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 68px;
  /*   outline: 5px solid rgba(255, 0, 200, 0.7);
  outline-offset: -5px; */

}




.footer-map {
  width: 100%;
  height: 416px;

  background-image: url("../img/map.jpg");
  background-color: var(--basic-grey-hover);
  background-repeat: no-repeat;
  background-size: cover;

  /*   outline: 5px solid rgba(72, 236, 7, 0.7);
  outline-offset: -5px; */
}

.footer-marker {
  content: "";
  position: absolute;
  top: 40%;
  left: 55%;
  z-index: 1;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;


  /*   outline: 5px solid rgba(2, 104, 7, 0.7);
  outline-offset: -5px; */
}

.footer-contacts {
  position: absolute;
  top: 12%;
  left: 10%;
  z-index: 1;
  width: 319px;
  background-color: var(--basic-white);
}

.footer-wrap {
  padding: 50px;
}

.footer-title {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 15px;
  margin: 0;
}

.footer-address,
.footer-phone {
  color: var(--basic-extra-grey);
  font-size: 16px;
  line-height: 18px;
}

.social-button {
  height: 81px;
  width: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: background .35s ease-in-out;
  -moz-transition: background .35s ease-in-out;
  -ms-transition: background .35s ease-in-out;
  -o-transition: background .35s ease-in-out;
  transition: background .35s ease-in-out;
}

.social-button:hover,
.social-button:focus {
  background: var(--basic-red);
}

.social-button:active {
  background: var(--basic-grey);
}

.main-footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  /*  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px; */
}

.footer-social h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
}

.footer-social p {
  line-height: 22px;
}


.footer-list {
  display: flex;
}

.social-button svg {
  padding-top: 32px;

}


/* Popup */

.popup {
  position: fixed;
  width: 960px;
  margin: auto;
  left: 50%;
  margin-left: -25%;
  top: -100vh;
  background: var(--basic-white);
  z-index: 10;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  -webkit-transition: top 1.35s ease-in-out;
  -moz-transition: top 1.35s ease-in-out;
  -ms-transition: top 1.35s ease-in-out;
  -o-transition: top 1.35s ease-in-out;
  transition: top 1.35s ease-in-out;
}

.popup-wrap {
  padding: 71px 100px 84px 100px;
  position: relative;
}

.popup-wrap h2 {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.popup form {
  padding-top: 37px;
}

.input-wrap label,
.form-message label {
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-black);

}

.input-wrap {
  width: 360px;
}

.form-line {
  display: flex;
  justify-content: space-between;

}

.form-line input {
  width: 360px;
}

.form-input,
.form-message textarea {
  border: 2px solid var(--basic-filter-range);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;
  margin-top: 9px;
}

.form-message {
  display: block;
  padding-top: 34px;
}

.form-message textarea {
  width: 760px;
  height: 118px;
  word-wrap: break-word;
  word-break: break-all;
}

.popup-close {
  position: absolute;
  right: 90px;
  top: 78px;
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
}

.popup-close:hover,
.popup-close:focus {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.3;
}


/* Product page */
.product-page-wrap {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
  padding-top: 40px;
}

.page-title {
  padding-bottom: 68px;
}

h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
}

.small-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  /* outline: 5px solid rgba(0, 255, 64, 0.7);
  outline-offset: -5px;*/
}

.sidebar {
  padding-top: 20px;
}


/* RANGE FILTER */


.range-filter {
  width: 260px;
  margin-top: 49px;
  position: relative;
}

.range-control {
  height: 41px;
  background-color: var(--basic-grey);
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-control .range-scale {
  height: 2px;
  background: var(--basic-filter-range);

}

.range-control .range-bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-control .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-extra-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-filter-range);
  position: absolute;
  left: 0;
  top: 20%;
  cursor: pointer;
}

.range-control .toggle-min {
  left: 5%;
}

.range-control .toggle-max {
  left: 65%;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);


}


.fieldset-container {
  padding-bottom: 28px;
}

fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.fieldset-list {
  line-height: 40px;
  padding-top: 10px;
}


.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
  color: var(--basic-black);
}

.products-filter li {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  padding-right: 15px;
}

.products-filter li>:not(.products-filter-current) {
  opacity: 0.3;
}


.products-filter {
  margin-top: 20px;
}


.filter-container {
  display: grid;
  width: 760px;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 auto;
  padding: 0;
  /* outline: 5px solid rgba(17, 0, 255, 0.7);
  outline-offset: -5px; */

}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-label {
  padding-left: 35px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  height: 23px;
  width: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  background-image: url("../img/checkbox-on.svg");

}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  height: 25px;
  width: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked+label::before {
  content: "";
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

.sort-main {
  display: flex;
  justify-content: space-between;
}


.products-wrap {
  display: grid;
  width: 760px;
  grid-template-rows: auto 1fr auto;
  /* outline: 5px solid rgba(221, 199, 0, 0.7);
  outline-offset: -5px; */

}

.products-container {
  padding-top: 32px;

}

.products-list {
  display: grid;
  width: 760px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  gap: 40px;

  /*  outline: 5px solid rgba(255, 0, 98, 0.7);
  outline-offset: -5px; */
}

.product-item {
  width: 358px;
  min-height: 619px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}




.product-details {
  background: var(--basic-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 40px 40px;
  position: absolute;
  bottom: -230px;
  -webkit-transition: bottom .9s ease-in-out;
  -moz-transition: bottom .9s ease-in-out;
  -ms-transition: bottom .9s ease-in-out;
  -o-transition: bottom .9s ease-in-out;
  transition: bottom .9s ease-in-out;

}

.product-item:hover .product-details {
  bottom: 0px;
}

.product-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  -webkit-transition: box-shadow .9s ease-in-out;
  -moz-transition: box-shadow .9s ease-in-out;
  -ms-transition: box-shadow .9s ease-in-out;
  -o-transition: box-shadow .9s ease-in-out;
  transition: box-shadow .9s ease-in-out;
}


.product-details p {
  text-align: center;
}


.product-img {
  display: grid;
  grid-template-rows: auto 1fr;
}

.product-img svg {
  opacity: 0.12;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
}

.product-item:hover .product-img svg {
  opacity: 1;

}

.product-title p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.product-details span {
  display: inline-block;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 72px 15px 72px;
}

.pagination-list {
  padding-top: 35px;
  padding-bottom: 40px;
}

.pagination-list li {
  display: inline-block;
  text-align: center;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-grey);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.pagination-list li:last-child a {
  width: 260px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-grey-hover);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-active);
  box-sizing: border-box;
  border-radius: 3px;
}
